/* .goods-card-container{
  display: block;
  flex-direction: column;



}

.goods-card-container>div{
  display: inline-block;
  margin: 10px 1% 0 0;
  height: 460px;
  width: 23%;
}


.goods-card-container .ant-card{

} */

.gutter-example .ant-row > div {
  background: transparent;
  border: 0;
}
.gutter-box {
  background: #00A0E9;
  padding: 5px 0;
}
